body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #666;
}

.projects {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
}

.project h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.project ul {
    padding-left: 20px;
}

.project li {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
